@* @page *@
@using UserManagement.Application.DTOs
@model LoginRequest
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>


<form method="post" class="container align-items-center" style="width=500px;">
    <div class="row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "Username" })
            @Html.ValidationMessageFor(m => m.Username, null,new {@class= "text-danger"})
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @id = "Password" })
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </div>
    </div>
    
</form>

@* @if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger mt-2">
        @Model.ErrorMessage
    </div>
} *@

