@model UserManagement.Domain.Entities.UserFormModel
@{
    int step = ViewBag.Step ?? 1;
}

<div id="step1" class="form-step p-4 border rounded shadow-sm container">
    <h3 class="mb-4">Step 1</h3>

    <div class="row">
        <div class=" col-sm-6 mb-3">
            @Html.LabelFor(m => m.Step1Field1, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Step1Field1, new { @class = "form-control", @placeholder = "Enter field 1" })
            @Html.ValidationMessageFor(m => m.Step1Field1, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-6 mb-3">
            @Html.LabelFor(m => m.Step1Field2, new { @class= "form-label" })
            @Html.TextBoxFor(m => m.Step1Field2, new {@class = "form-control", @placeholder="Enter field 2"})
            @Html.ValidationMessageFor(m => m.Step1Field2, null, new {@class = "text-danger"})
        </div>
    </div>    
   
    

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary next-btn" data-current-step="@step">
            Next <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>



