@* @model UserManagement.Domain.Entities.UserFormModel *@
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    .progress-container {
        width: 100%;
        height: 5px;
        background-color: #ccc;
        margin-bottom: 20px;
    }

    .progress-bar {
        height: 5px;
        background-color: #4CAF50;
        width: 0%; /* Initially, the progress bar is empty */
        transition: width 0.5s ease; /* Smooth transition effect */
    }
</style>

<h2>Multi-Step Form</h2>
<div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
</div>

@* <form id="multiStepForm" method="post"> *@

@using (Html.BeginForm("Step", "Dashboard", FormMethod.Post, new { @id = "multiStepForm" }))
{
    <div id="form-container">
        <!-- Partial view for the first step will be loaded here -->
    </div>

    <div id="message" style="display: none;"></div>

    @* <button type="submit" style="display:none;">Preview</button> <!-- Hidden Submit Button --> *@
}

@* </form> *@

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive"></script>
    <script>
        $(document).ready(function () {

            loadNextStep(1);   

            $(document).on('click', '.next-btn', function () {
                var currentStep = $(this).data('current-step');
                if ($("#multiStepForm").valid()) {
                    SaveStepRequest(currentStep + 1);
                } else {
                    alert("Please fill in all required fields before proceeding.");
                }
            });

            // Navigate to the previous step
            $(document).on('click', '.prev-btn', function () {
                debugger;
                var currentStep = $(this).data('current-step');
                loadPrevStep(currentStep - 1);
            });

            // Handle form submission via AJAX
            $("#multiStepForm").submit(function (event) {
                event.preventDefault();
                debugger;
                // var step = $('.submit_btn').data('current-step')
                var formData = $(this).serialize();
                // GetFinalResult(step);
                $.post("/Dashboard/SubmitForm", formData)
                   .done(function (response) {
                       $('#form-container').html(response);
                       if (response.success) {
                           $("#message").text(response.message).show();
                           $("#multiStepForm").hide();
                           
                       } else {
                           $("#message").text(response.message).show();
                       }
                       
                   })
                   .fail(function () {
                       $("#message").text("An error occurred while submitting the form.").show();
                   });
                });

            $(document).on('click','#previewBtn',function(){
                debugger;
                var step = $(this).data('current-step')
                GetFinalResult(step)
            })
        });

        // function SubmitForm(){
        //     $.ajax({
        //         url: '@Url.Action("Dashboard", "ShowSuccessPage")',
        //         method:"GET",
        //         success:function(res){
        //              console.log("This is a success page")
        //         },
        //         error: function(ex){
        //             console.log("This is a failed step")
        //         }
        //     })
        // }

        function GetFinalResult(step){
            var formData = $('#multiStepForm').serializeArray();
            $.ajax({
                url: '@Url.Action("FinalResult", "Dashboard")',
                method:"POST",
                data: formData.concat({name:'currentStep', value:step}),
                success:function(res){
                    loadFinalStep(step)
                },
                error: function(ex){
                    console.log("This is a failed step")
                }
            })
        }

        function SaveStepRequest(step){
           var formData = $('#multiStepForm').serializeArray();
           $.ajax({
                url: '@Url.Action("SaveStep", "Dashboard")',
                method: "POST",
                data: formData.concat({ name: 'currentStep', value: step }),
                // data:formData,
                success: function(res){
                    loadNextStep(step)
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("First request failed: ", textStatus, errorThrown)
                }

           })
        }

        function loadFinalStep(step){
            $.ajax({
                url: '@Url.Action("FinalStep", "Dashboard")', // URL of the server-side action
                type: 'GET', // HTTP method
                data: { step: step }, // Data sent to the server
                success: function(data) {
                    // Success callback
                    $('#form-container').html(data);
                    initializeValidation();
                },
                error: function(xhr, status, error) {
                    // Error callback
                    console.error('Error loading step:', error);
                    alert('Error loading step content');
                }
            });
        }

        function loadNextStep(step){
            $.ajax({
                url: '@Url.Action("Step", "Dashboard")', // URL of the server-side action
                type: 'GET', // HTTP method
                data: { step: step }, // Data sent to the server
                success: function(data) {
                    // Success callback
                    $('#form-container').html(data);
                    initializeValidation();
                },
                error: function(xhr, status, error) {
                    // Error callback
                    console.error('Error loading step:', error);
                    alert('Error loading step content');
                }
            });
            updateProgressBar(step, 3);
        }

        function loadPrevStep(step){
            $.ajax({
                url: '@Url.Action("Step", "Dashboard")', // URL of the server-side action
                type: 'GET', // HTTP method
                data: { step: step }, // Data sent to the server
                success: function(data) {
                    // Success callback
                    $('#form-container').html(data);
                    initializeValidation();
                },
                error: function(xhr, status, error) {
                    // Error callback
                    console.error('Error loading step:', error);
                    alert('Error loading step content');
                }
            });
            updateProgressBar(step, 3);
        }

        function initializeValidation() {
            $.validator.unobtrusive.parse('#multiStepForm');
        }

        function displayErrors(errors) {
            errors.forEach(function(error) {
                var fieldName = error.split(':')[0];
                $(`[data-valmsg-for="${fieldName}"]`).text(error);
            });
        }

        function updateProgressBar(currentStep, totalSteps) {
          const progressBar = document.getElementById('progressBar');
          const progressPercentage = ((currentStep - 1) / (totalSteps - 1)) * 100;
          progressBar.style.width = progressPercentage + '%';
        }
        
    </script>
}
